.task-list {
    background-color: rgba(255, 251, 0, 0.484);
    color: rgb(253, 251, 251);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  h2{
    color: black;
  }
  
  .task-card {
    background-color: #08000062;
    border: 1px solid #ffffff;
    border-radius: 8px;
    box-shadow: 0 0px 15px rgba(1, 39, 253, 0.593);
    padding: 31px;
    width: 300px;
  }
  
  .task-card h3 {
    font-size: 18px;
    margin: 0;
  }
  
  .task-card p {
    margin: 10px 0;
  }